---
name: unit

on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  unit-test:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-2022]
        ruby: ['3.1', '3.4']
    runs-on: ${{ matrix.os }}
    env:
      RUBYOPT: '--disable-error_highlight'
    steps:
      - uses: actions/checkout@v6
      - name: ruby-setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake spec

  integration-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-2022]
        ruby: ['3.1', '3.4']
    runs-on: ${{ matrix.os }}
    timeout-minutes: 600

    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Setup Machine
        run: |
          winrm.cmd quickconfig -q
          net user /add vagrant vagrant
          net localgroup administrators vagrant /add
          @"
          endpoint: "http://localhost:5985/wsman"
          user: vagrant
          password: vagrant
          "@ | Out-File -FilePath tests/integration/config.yml -Encoding utf8

      - name: Verify Windows
        run: bundle exec rake integration